body {
    background-color:rgb(103, 148, 195);
    font-family:'Times New Roman', Times, serif;
    text-decoration: bold;
}

a {
    color: #885df1;
}

footer {
color: rgb(255, 255, 255);
text-align: center;
font-size: medium;
}

.container {
    margin: 120px auto 120px auto;
    max-width: 600px;
    padding: 30px;
    border: 2px;
    border-radius: 30px;
    border-color: #af2424;
}

header {
    margin-bottom:30px;
}


h1 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5;
    margin-top: 0%;
    color:rgb(255, 255, 255);
}

.form-container {
    background-color: white;
    box-shadow: 0px 20px 60px rgba(red);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}
.generating {
    animation: blink 1s step-start 0s infinite;
  }

@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  

.instructions {
padding: 16px;
border: 1px solid rgba(123, 222, 223, 0.5);
width: 80%;
font-size: 16px;
border-radius:50px;
line-height: 20px;
color: #272044;
}

.submit-button {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: bold;
    text-align: center;
    margin-left: 10px;
    background: #af2424;
    color: rgb(255, 255, 255);
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
}

.hidden {
    display: none;
}

.poem {
    background-color: #fff;
    font-size: 16px;
    display:none;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #88fdf1;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
